html, body {
    border: 0;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #000000;
}

.header img {
    padding: 0.5%;
    height: 50px;
}
.menu {
    display: flex;
    margin-left: 20px;
    align-content: space-between;
    padding: 0 20px;
}

.menu li {
    margin-left: 5px;
}

.menu a {
    margin: 0;
    display: block;
    padding: 0 20px;
}

.menu a:hover {
    color: #4b024b;
    background-color: #d8bfd8;
    opacity: 0.5;
}

ul {
    list-style-type: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

@media (max-width: 420px) {
    .header nav {
        display: none;
    }

    .bar-one,
    .bar-two,
    .bar-three {
        background-color: #ffffff;
        height: 5px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 0.3s;
    }

    .menu-toggle {
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }

    .menu-section.on {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #4b024b;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-section.on nav {
        display: block;
    }

    .menu-section.on .menu-toggle {
        position: absolute;
        right: 0;
        top: 15px;
    }

    .menu-section.on nav ul {
        text-align: center;
        display: block;

    }
        
    .menu-section.on nav ul a {
        transition-duration: 0.5s;
        font-size: 3rem;
        line-height: 4rem;
        display: block;
    }
    
    .menu-section.on nav ul li a:hover {
        color: #4b024b;
        background-color: #d8bfd8;
        opacity: 0.5;
    }

    .menu-section.on .menu-toggle .bar-one {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu-section.on .menu-toggle .bar-two {
        opacity: 0;
    }

    .menu-section.on .menu-toggle .bar-three {
        transform: rotate(-45deg) translate(8px, -8px);
    }

}